<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        <a class="logo" [routerLink]="['/dashboard/default']">
                            <img class="img-fluid for-light" style="height:50px;" src="assets/images/logo/logo.svg" alt="looginpage">
                            <img class="img-fluid for-dark" style="height:50px;" src="assets/images/logo/logo_dark.svg" alt="looginpage"></a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" [formGroup]="loginForm">
                            <h4>Sign in to account</h4>
                            <div class="form-group">
                                <label class="col-form-label">Mobile No</label>
                                <input class="form-control" type="number" placeholder="Mobile No"
                                    formControlName="email">
                               
                            </div>
                            
                            <div class="form-group mb-0">
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="text-muted" for="checkbox1">Terms & Conditions</label>
                                </div>
                                <a class="link" [routerLink]="['/authentication/forget-password']">Forgot password?</a>
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" type="submit"
                                        [disabled]="!loginForm.valid" (click)="login()">Send OTP</button>
                                </div>
                            </div>
                            
                            
                            <p class="mt-4 mb-0 text-center">Don't have account?
                                <a class="ms-2" [routerLink]="['/authentication/register-simple']">Create Account</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>